<!doctype html>
<html lang="en">
  <head>
		
		<!-- Webpage Title -->
    <title>Homework 1</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Poor+Story&display=swap" rel="stylesheet">	
	
<style>
    *{
      font-family: 'Poor Story', cursive;
    }
    .container {
      text-align: center;
    }
    .product_img {
        margin: 1em auto;
        width: 60%;
        display: block;
    }
    .order_button {
      text-align: center;
      margin: 0px auto 2em auto;
    }
    .wrapper {
      width: 700px;
      margin: 0px auto;
    }

</style>

</head>
<body>
    <img src="{{ url_for('static', filename='yogurt.jpg') }}" class="product_img">
<div class= "container">
    <p><font size="25">달콤한 그릭요거트</font> 가격: 4,000원/개</p>
    <p><font size="4">달콤한 꿀이 추가된 그릭요거트에 딸기와 바나나, 견과류를 함께 올려 먹으면 든든한 아침식사로 뚝딱!</font></p>
</div>

<div class="wrapper">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">주문자 이름</span>
    </div>
    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
    id="input_name">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">수량</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected value="0">--수량을 선택하세요--</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="3">4</option>
      <option value="3">5</option>
      <option value="3">6</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">주소</span>
    </div>
    <input id="input_address" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">전화번호</span>
    </div>
    <input id="input_number" type="tel" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>


<div class="order_button">
  <button type="button" class="btn btn-primary" onclick="onOrder()">주문하기</button>
</div>
<br>

<div class="orders">
  <table class="table">
      <thead>
          <tr>
              <th scope="col">이름</th>
              <th scope="col">수량</th>
              <th scope="col">주소</th>
              <th scope="col">전화번호</th>
          </tr>
      </thead>
      <tbody id="orders-box">
          <tr>
              <td>@@</td>
              <td>*</td>
              <td>경기도 성남시</td>              
              <td>010-1234-5678</td>
          </tr>
      </tbody>
  </table>
</div>



	<!-- JS -->		
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script>
    $(document).ready(function(){
      $('#orders-box').html('');
      listing();
    })
    
    function onOrder() {
      let name=$("#input_name").val();
      let count = $("#inputGroupSelect01").val();
      let address = $("#input_address").val();
      let number =$("#input_number").val();

      if(name=='') {
        alert("이름을 입력하세요");
        $("#input_name").focus();
        return;
      }
      if (count<1) {
        alert("수량을 선택하세요");
        $("#inputGroupSelect01").focus();
        return;
       }
      if (address=='') {
        alert("주소를 입력하세요");
        $("#input_address").focus();
        return;
      }
      if (number=='') {
        alert("전화번호를 입력하세요");
        $("#input_number").focus();
        return;
      }       
      
      $.ajax({
        type: "POST",
        url: "/orders",
        data: {
          name_give: name, 
          count_give: count,
          address_give: address,
          number_give: number

        },
        success: function(response) {
            // console.log(response);
            // $('#orders-box').append(`<tr><td>${name}</td><td>${count}</td><td>${address}</td><td>${number}</td></tr>`)
            if (response['result'] == 'success') {
              alert(response['msg']);
              $("#input_name").val('');
              $("#inputGroupSelect01").val('');
              $("#input_address").val('');
              $("#input_number").val('');
              window.location.reload();
            }
            
          }
        
      })
    }

    function make_order_list(name, count, address, number) {
            $('#orders-box').append(`<tr><td>${name}</td><td>${count}</td><td>${address}</td><td>${number}</td></tr>`)
        }


    function listing() {
      $.ajax({
        type: "GET",
        url: "/orders",
        data: {},
        success: function(response){
          if (response['result']=='success') {
            let orders = response['orders'];
            for (let i=0; i< orders.length; i++) {
              make_order_list(orders[i]['name'], orders[i]['count'], orders[i]['address'], orders[i]['number'])
            }
          } else {
            alert('주문을 받아오지 못했습니다');
          }
        }
      })
    }


  </script>

</body>

</html>

